.flex { display:flex; flex-wrap: wrap;}
.flex.flex-column { flex-direction: column; }
.flex.flex-row { flex-direction: row; }
.flex.justify-center { justify-content: center; }
.flex.justify-left { justify-content: flex-start; }
.flex.justify-right { justify-content: flex-end; }
.flex.align-center { align-items: center; }
.flex.align-left { align-items: flex-start; }
.flex.align-right { align-items: flex-end; }

/* Navigation */
#top-navigation {
	background-color: #867979;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-navigation a {
	color: white;
}

/* Products */
#products .item img { background-color: #000; }
#products .item p.lead { margin-bottom: 0; }
#products .item .number-in-stock { margin-right: 10px; }
#products .item .number-in-stock.few { color: #E0A14F; }
#products .item .number-in-stock.none { color: #C45E5E; }

[v-cloak] {
	display: none !important;
}

.list-group {
	display: flex;
	flex-wrap: wrap;
}

.list-group-image {
	width: 100%;
	height: 200px;
}